<template name="signUp">

    <div class="authentication">
        <div class="jumbotron">
            <div class="container">

                <form role="form" id="signUp">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="First Name" name="last_name" type="text" id="first_name" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Last Name" name="last_name" type="text" id="last_name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Company" name="company" type="text" id="company">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" id="email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password">
                        </div>
                        <!--<div class="checkbox">-->
                            <!--<label>-->
                                <!--<input name="remember" type="checkbox" value="Remember Me">Remember Me-->
                            <!--</label>-->
                        <!--</div>-->
                    <!-- Change this to a button or input when using this as a form -->
                    <button class="btn btn-sm btn-primary">Sign In</button>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>

</template>
